@require 'guide.styl';

.Root {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

.List {
    display: grid;
    width: 300px;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    font-size: 14px;
    padding: 0;
    margin: 5px 0 10px 0;
}

.Termin {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Definition {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Title {
    font-size: 18px;
    font-weight: bold;
}