@require 'guide.styl';

$panel-border-color = $color-light-gray;   
$panel-color-bg = $color-white;
$panel-border-radius = 4px; 
$panel-box-shadow = 0 1px 3px 0 rgba(0,0,0,.13);

.Root {
    box-sizing: border-box;
    background: transparent;
    border: 0 none;
    margin: 0;
    padding: 5px;
}

.Inner {
    box-shadow: $panel-box-shadow;
    background-color: $panel-color-bg;
    border: none;
    border-radius: $panel-border-radius;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;

     min-width: 50px;
    min-height: 50px;  
}