$form-padding = 2px;

.Form {
    padding: $form-padding ;
    margin: 0;
    position: relative;
}

.Button {
    top: $form-padding ;
    right: 0;
    position: absolute;
    width: 140px;
}

.Input {
    margin: 0 150px 0 0;
}

.Title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0; 
}