@require 'guide.styl';

.Root {

}

.List {
    margin: 5px;
    padding: 0;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
}

.Item {
    list-style: none;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    flex: 0 1 25%;
}

.Button {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 5px 10px;
    border: $button-border;
    border-radius: $button-border-radius;
    background: none;
    font-size: 14px;
    width: 100%;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: $shadow-1;
        background-color: $color-hightlighted;
    }

    &:active {
        outline: none;
        box-shadow: 0;
    }
    
    &:hover {
        outline: none;
        box-shadow: $shadow-1;
    }

    &:active {
        outline: none;
        border-color: $color-gray;
        background-color: $color-hightlighted;
        box-shadow: $shadow-in
    }
}

@media screen and (max-width: $mobile-width) {
    .List {
        min-width: 0;
    }

    .Button {
        padding: 5px;
        height: 100%;
    }
}
