@require 'guide.styl';

$main-color-bg = #f8f7f5;

.Root {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    background-color: $main-color-bg;
    min-height: 100vh;
}

.Item {

}