@require 'guide.styl';

$main-color-bg = #f8f7f5;

body {
    background-color: $main-color-bg;
}

.Root {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    border: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    min-height: 100vh; 
}

.Item {

}

.PairSelectors {
    display: flex;
}

.Select {
    flex: 0 1 50%;
}

.Header {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

@media screen and (min-width: $mobile-width) {
    .Root {
        width: 800px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .ListPanelCt {
        flex: 0 0 50%;
    }

    .PairSelectors,
    .Top {
        flex: 0 0 100%;
    }
}