$color-light-gray = #e6e6e6;
$color-light-gray-border = #c2c2c2;
$color-gray = #9F9F9F;
$color-dark-gray = #6f6f6f;
$color-white = #fff;
$color-black = #000;
$color-hightlighted = rgba(0,62,255,0.24);
$selection-box-shadow = 0 0 0 2px rgba(0,62,255,0.24);

$mobile-width = 320px;

$button-border-radius = 4px;
$button-border = 1px solid $color-gray;
$button-focus-shadow = $selection-box-shadow;

$shadow-1 = 2px 2px 7px 0 rgba(0,0,0,0.21);
$shadow-in = inset 2px 2px 7px 0 rgba(0,0,0,0.21);